<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.libertyeiffel.eclipse.category.wizards"
            name="%category.name">
      </category>
      <wizard
            category="org.libertyeiffel.eclipse.category.wizards"
            class="org.libertyeiffel.eclipse.wizards.LEProjectNewWizard"
            finalPerspective="org.libertyeiffel.eclipse.perspective"
            icon="icons/sample.gif"
            id="org.libertyeiffel.eclipse.wizard.new"
            name="%wizard.name">
      </wizard>
      <wizard
            category="org.libertyeiffel.eclipse.category.wizards"
            class="org.libertyeiffel.eclipse.wizards.NewEiffelClassFile"
            descriptionImage="icons/sample.gif"
            icon="icons/sample.gif"
            id="org.libertyeiffel.eclipse.file.class"
            name="%wizard.name.0">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.libertyeiffel.eclipse.category"
            class="org.libertyeiffel.eclipse.navigator.LENavigator"
            icon="icons/sample.gif"
            id="org.libertyeiffel.eclipse.navigator"
            name="%view.name">
      </view>
      <category
            id="org.libertyeiffel.eclipse.category"
            name="%category.name.0">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.libertyeiffel.eclipse.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.libertyeiffel.eclipse.navigator">
         <includes>
            <contentExtension
                  pattern="org.libertyeiffel.eclipse.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.libertyeiffel.eclipse.perspectives.Perspective"
            id="org.libertyeiffel.eclipse.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.libertyeiffel.eclipse.perspective">
         <view
               id="org.libertyeiffel.eclipse.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="org.libertyeiffel.eclipse.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.libertyeiffel.eclipse.natures.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/sample.gif"
            id="org.libertyeiffel.eclipse.logo"
            natureId="org.libertyeiffel.eclipse.projectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.libertyeiffel.eclipse.navigator.LEContentProvider"
            id="org.libertyeiffel.eclipse.navigatorContent"
            labelProvider="org.libertyeiffel.eclipse.navigator.LELabelProvider"
            name="%navigatorContent.name">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.libertyeiffel.eclipse.navigator.LEProjectWorkbenchRoot">
               </instanceof>
            </or>
         </triggerPoints>
         <commonSorter
               class="org.libertyeiffel.eclipse.sorter.CategorySorter"
               id="org.libertyeiffel.eclipse.sorter.schemacategorysorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="org.libertyeiffel.eclipse.navigator.LEProjectParent">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
   </extension>
   <extension
         id="org.libertyeiffel.eclipse.contentype"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="e"
            id="org.libertyeiffel.eclipse.contenttype.src"
            name="%content-type.name"
            priority="normal">
         <describer
               class="org.eclipse.core.internal.content.TextContentDescriber">
            <parameter
                  name="element"
                  value="Eiffel class">
            </parameter>
         </describer>
      </content-type>
   </extension>

</plugin>
