<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.libertyeiffel.eclipse.category.wizards"
            name="%category.name">
      </category>
      <wizard
            category="org.libertyeiffel.eclipse.category.wizards"
            class="org.libertyeiffel.eclipse.wizards.LEProjectNewWizard"
            finalPerspective="org.libertyeiffel.eclipse.perspective"
            icon="icons/sample.gif"
            id="org.libertyeiffel.eclipse.wizard.new"
            name="%wizard.name">
      </wizard>
      <wizard
            category="org.libertyeiffel.eclipse.category.wizards"
            class="org.libertyeiffel.eclipse.wizards.NewEiffelClassFile"
            descriptionImage="icons/sample.gif"
            icon="icons/sample.gif"
            id="org.libertyeiffel.eclipse.file.class"
            name="%wizard.name.0">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.libertyeiffel.eclipse.perspectives.Perspective"
            id="org.libertyeiffel.eclipse.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.libertyeiffel.eclipse.perspective">
         <newWizardShortcut
               id="org.libertyeiffel.eclipse.wizard.new">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.libertyeiffel.eclipse.file.class">
         </newWizardShortcut>
         <view
               id="org.libertyeiffel.eclipse.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="org.libertyeiffel.eclipse.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.libertyeiffel.eclipse.natures.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/sample.gif"
            id="org.libertyeiffel.eclipse.logo"
            natureId="org.libertyeiffel.eclipse.projectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description"
            id="org.libertyeiffel.eclipse.file.class"
            name="%command.name">
      </command>
      <command
            defaultHandler="org.libertyeiffel.eclipse.handler.CallEditor"
            id="org.libertyeiffel.eclipse.openEditor"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="org.libertyeiffel.eclipse.editors.AddBuilder"
            id="org.libertyeiffel.eclipse.addBuilder"
            name="Add Eiffel Builder">
      </command>
      <command
            defaultHandler="org.libertyeiffel.eclipse.editors.RemoveBuilder"
            id="org.libertyeiffel.eclipse.removeBuilder"
            name="Remove Eiffel Builder">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=additions">
         <command
               commandId="org.libertyeiffel.eclipse.file.class"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.libertyeiffel.eclipse.addBuilder"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.libertyeiffel.eclipse.removeBuilder"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.libertyeiffel.eclipse.file.class"
            icon="icons/sample.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.libertyeiffel.eclipse.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.libertyeiffel.eclipse.navigator"
            name="%view.name.0">
      </view>
      <category
            id="org.libertyeiffel.eclipse.category"
            name="%category.name.1">
      </category>
      <view
            category="org.libertyeiffel.eclipse.category"
            class="org.libertyeiffel.eclipse.editors.TaskOverview"
            id="org.libertyeiffel.eclipse.taskoverview"
            name="%view.name.1"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.libertyeiffel.eclipse.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.libertyeiffel.eclipse.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="e"
            id="org.libertyeiffel.eclipse.contentType"
            name="%content-type.name.0"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.libertyeiffel.eclipse.editors.EiffelEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="e"
            id="org.libertyeiffel.eclipse.eiffeleditor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="org.libertyeiffel.eclipse.contentType">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.libertyeiffel.eclipse.editors.TaskEditor"
            default="false"
            id="org.libertyeiffel.eclipse.editor.task"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         id="org.libertyeiffel.eclipse.builder"
         name="Eiffel Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.libertyeiffel.eclipse.wizards.EiffelProjectBuilder">
            <parameter
                  name="optimize"
                  value="true">
            </parameter>
            <parameter
                  name="comment"
                  value="Eiffel Builder">
            </parameter>
         </run>
      </builder>
   </extension>

</plugin>
