<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.libertyeiffel.eclipse.launch.EiffelConfigurationType"
            icon="icons/sample.gif"
            id="org.libertyeiffel.eclipse.launching.ui.launchConfigurationTypeImage.eiffel">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.libertyeiffel.eclipse.launching.ui.launch.LibertyEiffelTabGroup"
            id="org.libertyeiffel.eclipse.launching.ui.launchConfigurationTabGroup.eiffel"
            type="org.libertyeiffel.eclipse.launch.EiffelConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.libertyeiffel.eclipse.launching.ui.launch.EiffelLaunchShortcut"
            id="org.libertyeiffel.eclipse.launching.ui.eiffelCompilerShortcut"
            label="Liberty Eiffel Compiler"
            modes="run, debug">
         <configurationType
               id="org.libertyeiffel.eclipse.launching.libertyEiffelCompiler">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="org.libertyeiffel.eclipse.launching.ui.selection">
                  <count
                        value="+">
                  </count>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
