<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.libertyeiffel.eclipse.editor.editor.EiffelEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="e"
            id="org.libertyeiffel.eclipse.editor.eiffeleditor"
            name="Eiffel Editor">
         <contentTypeBinding
               contentTypeId="org.libertyeiffel.eclipse.contentType.Class">
         </contentTypeBinding>
      </editor>
   </extension>

</plugin>
